<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>WoT Blitz Stats</title>
</head>
<body>

<p>WoT Blitz Stats App</p>


<table>
    <tr >
        <td th:text="'Nick: '+${stats.getDataDto().getAlcotronicDto().getNickname()}"></td></tr>
<tr>
        <td th:text="'Zwycięstwa: '+${stats.getDataDto().getAlcotronicDto().getStatisticDto().getAllDto().getWins()}"></td>

    </tr>
    <tr>
        <td th:text="'Porażki: '+${stats.getDataDto().getAlcotronicDto().getStatisticDto().getAllDto().getLosses()}"></td>

    </tr>
    <tr>
        <td th:text="'Winrate: '+${stats.getDataDto().getAlcotronicDto().getStatisticDto().getAllDto().getWinrate()}+' %'"></td>

    </tr>
    </tr>
    <tr>
        <td th:text="'Ostatnia bitwa: '+${stats.getDataDto().getAlcotronicDto().getLastBattleDate()}"></td>

    </tr>
</table>

</body>
</html>